.navvcnt {
  margin-bottom: 2rem;
}

.logoheaderbig {
  font-size: 56px;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.logoheaderbig span {
  font-family: "Sacramento", cursive;
  font-weight: 400;
}


@media screen and (max-width: 700px) {
    .logoheaderbig {
        font-size: 38px;
        font-weight: 700;
    }
}