.navvcnt {
    margin: 1rem auto;
}

.logoheaderbig {
    font-size: 48px;
   letter-spacing: -.6px;
   cursor: pointer;
}

.logoheaderbig span {
    font-family: 'Sacramento', cursive; 
    font-weight: 400;
}